#onglets {
    /* pour que les éléments soient alignés horizontalement */
    position: relative;
}

#onglets li {
    /* pour l'animation, transition sur width */
    transition: width 1s;
    /* couleur de fond #eee */
    background-color: #eee;
    /* pour enlever les puces */
    list-style: none ;
    /* pour arrondir les bords de 5px */
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

#onglets [role="tablist"]{
    padding: 5px;
}

#onglets li:hover,
#onglets li.ouvert {
    width: 85%;
}

#panneau {
    position: relative;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}
